@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,600,700,800display=swap");

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font);
}
* {
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}
body {
  background-color: white;
  margin: 4;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #5a5a5a;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.3333333333;
  color:#1E1E1E;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3380952381;
  color:#1E1E1E;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3833333333;
  color:#1E1E1E;
}

h4 {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.3380952381;
  color:#1E1E1E;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3380952381;
  color:Grey;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3380952381;
  color:Grey;
}
h1.text-small{
    font-size:15px;
}
p.text-small{
    font-size:10px;
}
.logo{
    height:30px;
}

.navbar{
  background-color:  #1E1E1E;
}
.navbar div.show{
    border-top: 1px solid #3c3b41;/* dark color--- */
 }
 
.nav-link{
  color: white;
  margin: 1px;
  border-radius:12px;
  border:1px solid transparent;
}

.nav-link:hover,
.nav-link:active{
    background-color:#F7DF0D;
    border-radius:12px;
    border:1px solid #F7DF0D;
}

form.search{
   color:#F7DF0D;
   border-radius:20px;
   border:1px solid #F7DF0D;
   
}

input.form-control{
    border:0px;
    border-radius:20px;
    outline: none !important;

}
input:focus,
input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
a.btn,
button.btn,
button.btn:focus,
button.btn:active{
  color:white;
  font-size: 40px;
  border:0px;
  
}
a.btn:hover{
  border:0px solid #F7DF0D;
  border-radius:20px;
  color:white;
}
button.search{
    border-radius:20px;
    border:1px solid #F7DF0D;
    font-size:large;
}
button.search:hover{
    border:1px solid #F7DF0D;
    border-radius:20px;
    color:white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.highlight{
    color:#F7DF0D;/* orange color */
}

a.btn-primary,
button.btn-primary{
   background-color:#F7DF0D;
   border-radius:20px;
   font-size: 18px;
   border:2px solid transparent;
   transition-duration: 0.4s;
   color:#1E1E1E;
   }
a.btn-primary:hover,
button.btn-primary:hover{
  background-color: white;
  color: black;
  border: 2px solid #F7DF0D;
}
.carousel-caption{
  display: inline-block;
}
/* swiper in carousel content
-------------------------------------------------- */

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
  margin-top: 2px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  width:100%;
  height:80px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  opacity:0.9;
  object-fit:fill;
}
.swiper-button-next,
.swiper-button-prev{
    color:#F7DF0D !important;
}
.swiper-pagination-bullet-active{
    color:#1E1E1E !important;
}
/* END OF THE CAROUSEL CONTENT
-------------------------------------------------- */
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
  top:2px;
  color: #3c3b41;/* dark color--- */
  border-color:#3c3b41;/* dark color--- */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.f-heading{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

/* rtl:end:remove */

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel and featurettes */
.marketing .col-lg-4 {
    margin-top:0px;
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

/*---persons------*/
div.third{
    background-color: #ffdbc4;
}
.persons{
  box-shadow:0 0 5px #cbd6e9;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    font-size: 40px;
    font-weight: 20000;
    background-color:#F7DF0D;
    width: 40px;
    height: 40px;
    
    transition-duration: all 1.6s;
}
.back-to-top i {
  font-size: 24px;
  color: #1E1E1E;
  line-height: 0;
}

.back-to-top:hover {
  background: #F7DF0D;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer.footer{
    background-color:#1E1E1E;/* dark color--- */
}
.social-link{
    font-size:30px;
    margin:4px;
    padding:4px;
    color:white;
    border-radius:20px;
    border:3px solid transparent;
    transition-duration: 0.6s;
}
.social-link:hover{
    color:#F7DF0D;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title{
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #1E1E1E;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: grey;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #F7DF0D;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #F7DF0D;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #F7DF0D;
}

.about .content .btn-learn-more:hover {
  background: #F7DF0D;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

.why-us .content {
  padding: 20px 100px 0 100px;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #1E1E1E;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


.accordion {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: rgb(231, 231, 231);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:focus {
  box-shadow: none;
  border-color: #1E1E1E;
}
.why-us-div{
  background-image: url("./media/skills.png");
}
@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
  .mySwiper {
    margin-top: 100px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
  .mySwiper {
    margin-top: 95px;
  }
  
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #1E1E1E;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #1E1E1E;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #F7DF0D;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #1E1E1E;
  border-radius: 8px;
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #F7DF0D;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #1E1E1E;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #F7DF0D;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  
  
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
  
}




